.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); /* max 3 colonnes */
}
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}